NodeRed_src/raspi.json
[{"id":"a6b83437.8120f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2db3f580.8d3dea","type":"BLE","z":"a6b83437.8120f","name":"BLE","topic":"BLE","uuid":"0280e10034a6","temperature":true,"humidity":true,"accelerometer":true,"x":410,"y":180,"wires":[["ec5ed510.13e948","b8934f53.77e878","a6009835.826f4","67033c85.020154","baecaed4.920dc","a8b98a49.6e65f"]]},{"id":"a6009835.826f4","type":"function","z":"a6b83437.8120f","name":"Temp","func":"if (msg.payload.temperature != undefined) {\n    var t = { payload : msg.payload.temperature }\n    return t;\n}\n","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["644fa625.b12958","9e4fb8d4.597608"]]},{"id":"b8934f53.77e878","type":"function","z":"a6b83437.8120f","name":"Humidity","func":"if (msg.payload.humidity != undefined) {\n    var t = { payload : msg.payload.humidity }\n    return t;\n}","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["16bdc816.54a08","7aee2cf3.6272e4"]]},{"id":"644fa625.b12958","type":"debug","z":"a6b83437.8120f","name":"Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":60,"wires":[]},{"id":"16bdc816.54a08","type":"debug","z":"a6b83437.8120f","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":220,"wires":[]},{"id":"9e4fb8d4.597608","type":"mqtt out","z":"a6b83437.8120f","name":"","topic":"cheucle/Temp","qos":"","retain":"","broker":"a1c60845.6e1908","x":740,"y":140,"wires":[]},{"id":"7aee2cf3.6272e4","type":"mqtt out","z":"a6b83437.8120f","name":"","topic":"cheucle/Hum","qos":"","retain":"","broker":"a1c60845.6e1908","x":750,"y":300,"wires":[]},{"id":"ec5ed510.13e948","type":"debug","z":"a6b83437.8120f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":300,"wires":[]},{"id":"67033c85.020154","type":"function","z":"a6b83437.8120f","name":"Position X","func":"if (msg.payload.x !== undefined) {\n    var t = { payload : msg.payload.x }\n    return t;\n}","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["4f1b554a.34be4c","e395a30f.dbf7f"]]},{"id":"a8b98a49.6e65f","type":"function","z":"a6b83437.8120f","name":"Position Z","func":"if (msg.payload.z !== undefined) {\n    var t = { payload : msg.payload.z }\n    return t;\n}","outputs":1,"noerr":0,"x":580,"y":560,"wires":[["26215cbc.98d2d4","6744305e.6f4"]]},{"id":"baecaed4.920dc","type":"function","z":"a6b83437.8120f","name":"Position Y","func":"if (msg.payload.y !== undefined) {\n    var t = { payload : msg.payload.y }\n    return t;\n}","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["4645d654.29ed78","7ed0afac.073eb8"]]},{"id":"4f1b554a.34be4c","type":"debug","z":"a6b83437.8120f","name":"Position X","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":360,"wires":[]},{"id":"4645d654.29ed78","type":"debug","z":"a6b83437.8120f","name":"Position Y","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":460,"wires":[]},{"id":"26215cbc.98d2d4","type":"debug","z":"a6b83437.8120f","name":"Position Z","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":560,"wires":[]},{"id":"e395a30f.dbf7f","type":"mqtt out","z":"a6b83437.8120f","name":"","topic":"cheucle/PositionX","qos":"","retain":"","broker":"a1c60845.6e1908","x":810,"y":400,"wires":[]},{"id":"7ed0afac.073eb8","type":"mqtt out","z":"a6b83437.8120f","name":"","topic":"cheucle/PositionY","qos":"","retain":"","broker":"a1c60845.6e1908","x":810,"y":500,"wires":[]},{"id":"6744305e.6f4","type":"mqtt out","z":"a6b83437.8120f","name":"","topic":"cheucle/PositionZ","qos":"","retain":"","broker":"a1c60845.6e1908","x":810,"y":600,"wires":[]},{"id":"a1c60845.6e1908","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]