NodeRed_src/raspi.json
[{"id":"6a0e11c5.f6df98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f0e552ae.9ec6c","type":"BLE","z":"6a0e11c5.f6df98","name":"BLE","topic":"BLE","uuid":"0280e10034a6","temperature":true,"humidity":true,"accelerometer":false,"x":410,"y":180,"wires":[["70781d89.f64b3c","a2c81421.d3ca88"]]},{"id":"70781d89.f64b3c","type":"function","z":"6a0e11c5.f6df98","name":"Temp","func":"if (msg.payload.temperature != undefined) {\n    var t = { payload : msg.payload.temperature }\n    return t;\n}\n","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["caaa76dd.bdfcb","f0a178cb.fc792"]]},{"id":"a2c81421.d3ca88","type":"function","z":"6a0e11c5.f6df98","name":"Humidity","func":"if (msg.payload.humidity != undefined) {\n    var t = { payload : msg.payload.humidity }\n    return t;\n}","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["a2fe3ebc.14d3e8","63cb089a.40db"]]},{"id":"caaa76dd.bdfcb","type":"debug","z":"6a0e11c5.f6df98","name":"Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":60,"wires":[]},{"id":"a2fe3ebc.14d3e8","type":"debug","z":"6a0e11c5.f6df98","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":220,"wires":[]},{"id":"f0a178cb.fc792","type":"mqtt out","z":"6a0e11c5.f6df98","name":"","topic":"cheucle/Temp","qos":"","retain":"","broker":"d0ee1512.f9e848","x":740,"y":140,"wires":[]},{"id":"63cb089a.40db","type":"mqtt out","z":"6a0e11c5.f6df98","name":"","topic":"cheucle/Hum","qos":"","retain":"","broker":"d0ee1512.f9e848","x":750,"y":300,"wires":[]},{"id":"d0ee1512.f9e848","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]