NodeRed_src/server.json
[{"id":"6719c52.64008bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"36f14cf7.9398dc","type":"mongodb out","z":"6719c52.64008bc","mongodb":"420f0db.d67ab74","name":"Temp","collection":"Temp","payonly":true,"upsert":false,"multi":false,"operation":"store","x":730,"y":160,"wires":[]},{"id":"5c5c2afa.5767e4","type":"mqtt in","z":"6719c52.64008bc","name":"","topic":"cheucle/Temp","qos":"2","broker":"3816f598.9d02ba","x":180,"y":160,"wires":[["280b410e.13d8ee"]]},{"id":"280b410e.13d8ee","type":"delay","z":"6719c52.64008bc","name":"Filtrage","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":160,"wires":[["1001751d.b1849b"]]},{"id":"1001751d.b1849b","type":"function","z":"6719c52.64008bc","name":"Ajout Date","func":"var date = new Date();\nmsg.payload = {temp : msg.payload, date : date.toLocaleDateString(), time: date.toLocaleTimeString()}; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["36f14cf7.9398dc"]]},{"id":"eac82e5c.6f86a","type":"function","z":"6719c52.64008bc","name":"querry","func":"var querry = {date:{$eq:msg.payload}};\nmsg.payload = querry;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["2c59f5e6.d8549a","6c8f0e7f.dfac9"]]},{"id":"2c59f5e6.d8549a","type":"mongodb in","z":"6719c52.64008bc","mongodb":"420f0db.d67ab74","name":"FindTemp","collection":"Temp","operation":"find","x":500,"y":260,"wires":[["e605b599.7e8cf","425a9471.a8d20c"]]},{"id":"425a9471.a8d20c","type":"mqtt out","z":"6719c52.64008bc","name":"","topic":"cheucle/Aff","qos":"","retain":"","broker":"3816f598.9d02ba","x":810,"y":260,"wires":[]},{"id":"e605b599.7e8cf","type":"debug","z":"6719c52.64008bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":380,"wires":[]},{"id":"fcace11e.3d50f","type":"mqtt in","z":"6719c52.64008bc","name":"","topic":"cheucle/Date","qos":"2","broker":"3816f598.9d02ba","x":130,"y":260,"wires":[["eac82e5c.6f86a"]]},{"id":"9ecfb390.8b409","type":"mongodb out","z":"6719c52.64008bc","mongodb":"420f0db.d67ab74","name":"Hum","collection":"Hum","payonly":true,"upsert":false,"multi":false,"operation":"store","x":730,"y":100,"wires":[]},{"id":"3d42eeea.069f8a","type":"mqtt in","z":"6719c52.64008bc","name":"","topic":"cheucle/Hum","qos":"2","broker":"3816f598.9d02ba","x":180,"y":100,"wires":[["62fec444.27e2c4"]]},{"id":"62fec444.27e2c4","type":"delay","z":"6719c52.64008bc","name":"Filtrage","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":100,"wires":[["7b11e927.18a8"]]},{"id":"7b11e927.18a8","type":"function","z":"6719c52.64008bc","name":"Ajout Date","func":"var date = new Date();\nmsg.payload = {hum : msg.payload, date : date.toLocaleDateString(), time: date.toLocaleTimeString()}; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":100,"wires":[["9ecfb390.8b409"]]},{"id":"6c8f0e7f.dfac9","type":"mongodb in","z":"6719c52.64008bc","mongodb":"420f0db.d67ab74","name":"FindHum","collection":"Hum","operation":"find","x":480,"y":380,"wires":[["e605b599.7e8cf","425a9471.a8d20c"]]},{"id":"420f0db.d67ab74","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"Capteurs","name":"Capteurs"},{"id":"3816f598.9d02ba","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]